@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

hr{
    margin: 2%;
}

body {
    width: 1280;
    border-radius: 0px;
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0);
}
/* Style Navbar */

#navbar{
    display: flex;
	justify-content: space-between;
	align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 10px solid rgb(59, 59, 59);
    border-radius: 10px;
    margin: 2%;
    padding: 10px;
    background-color: rgb(74, 139, 199);
}

#navbar img{
    float: left;
    width: 50px;
    height: 50px;
    
}

.navbar ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar ul li{
    margin-right: 20px;
}

.navbar ul li:hover{
    border: 1px solid black;
    border-radius: 15px;
    -webkit-animation: split-pop-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: split-pop-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.navbar ul li:hover a{
    color: rgb(255, 251, 0);
}

.navbar ul li a{
    display: block;
    padding: 5px;
    color: #000000;
    text-decoration: none;
}

/* End */

/* Style Landing page */

#landing-page{
    margin: 25px;
}

.content-head{
    display: block;
    margin-bottom: 30px;
    font-family: Roboto, arial,sans-serif;
    font-size: 20px;
    color: rgb(74, 139, 199);
}

.content-head h2{
    margin-top: 5px;
}

.img-content{
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End */

/* Style Our Headquarter */

#content{
    display: flex;
    flex-direction: column;
    margin: 2%;
    color: rgb(74, 139, 199);
    font-size: 25px;
}

.content-main{
    margin: 0px;
    display: flex;
    float: left;
    border-radius: 15px;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

.gallery{
    margin: 50px;
    display: flex;
}

.gallery img{
    border-radius: 100%;
    border: 10px solid transparent;
    width: 200px;
    height: 200px;
    float: left;
}

.gallery a{
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.gallery a h1{
    margin-top: 250px;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gallery:hover{
    border: 5px solid black;
    border-radius: 10%;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

/* End */

/* Style Contact */

#contact{
    margin: 2%;
    color: rgb(74, 139, 199);
}

.message-us{
    display: flex;
    justify-content: space-between;
}

.form-input h1{
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.form input{
    width: 300px;
    padding: 10px;
}

.form label{
    display: block;
	margin-top: 15px;
    margin-bottom: 5px;
    
}

.form input, textarea{
    border: 2px solid rgb(74, 139, 199);
    border-radius: 15px;
}

.form-gender select{
    padding: 10px;
}

.form-gender label{
    display: block;
	margin-top: 15px;
    margin-bottom: 5px;
}

.form-gender select, textarea{
    border: 2px solid rgb(74, 139, 199);
    border-radius: 15px;
    background-color: rgb(74, 139, 199);
    color: #000000;
}

.form-date{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-date label{
    display: block;
}

.form-date input{
    padding: 5px;
}

.form-date input, textarea{
    border: 2px solid rgb(74, 139, 199);
    border-radius: 15px;
    background-color: rgb(74, 139, 199);
    color: #000000;
}

.form-pesan label{
    display: block;
}

.form-pesan input, textarea{
    height: 100px;
    width: 300px;
    padding: 10px;
    border: 2px solid rgb(74, 139, 199);
    border-radius: 15px;
}

.result{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(74, 139, 199);
    border-radius: 15px;
    width: 50%;
}

.current-time{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
}

.current-time b{
    margin-right: 20px;
}

.current-time p{
    margin-right: 10px;
}

.result ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    list-style: none;
}

#list-data li{
    margin: 5px;
}

#list-data p{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
}

button{
    margin-top: 25px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: poppins, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    color: rgb(74, 139, 199);
}

/* End */

/* Style footer */

#footer{
    margin: 2%;
    border: 2px solid rgb(74, 139, 199);
    padding: 15px;
    color: rgb(74, 139, 199);
}

.footer-main{
    font-size: 10px;
    text-align: right;
}

/* End */

/* keyframe dan media querry */

/* Media Querry */

@media screen and (max-width: 640px) {
    body{
        width: 680px;
    }

	#navbar {
		flex-direction: column;
	}

	.navbar ul {
		flex-direction: column;
        text-align: center;
	}

	.navbar li {
		margin: 10px 0;
	}

    #content {
        flex-direction: column;
		text-align: center;
	}

    .content-main{
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }

    #footer {
        flex-direction: column;
		text-align: center;
	}
}

@-webkit-keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow: 0px 0px #3e3e3e, 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e;
            box-shadow: 0px 0px #3e3e3e, 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e;
        -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
    }
}
@keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow: 0px 0px #3e3e3e, 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e;
            box-shadow: 0px 0px #3e3e3e, 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e;
        -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
    }
}

@-webkit-keyframes split-pop-br{
    0%
    {
        -webkit-transform: translateY(0);
            transform: translateY(0);
    }
    100%
    {
        -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    }
}

@keyframes split-pop-br {
    0%
    {
        -webkit-transform: translateY(0);
            transform: translateY(0);
    }

    100%
    {
        -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    }
}

@-webkit-keyframes color-change-5x {
    0% {
        background: #0059df;
    }
    25% {
        background: #b22cff;
    }
    50% {
        background: #229aea;
    }
    75% {
        background: #ee58f3;
    }
    100% {
        background: #79ced1;
    }
}
@keyframes color-change-5x {
    0% {
        background: #0059df;
    }
    25% {
        background: #b22cff;
    }
    50% {
        background: #229aea;
    }
    75% {
        background: #ee58f3;
    }
    100% {
        background: #79ced1;
    }
}
/* end */