@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

hr{
    margin: 2%;
}

body {
    border-radius: 0px;
    margin-bottom: 5px;
}
/* Style Navbar */

#navbar{
    display: flex;
	justify-content: space-between;
	align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    margin: 2%;
    padding: 10px;
}

#navbar img{
    float: left;
    width: 50px;
    height: 50px;
}

.navbar ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar ul li{
    margin-right: 20px;
}

.navbar ul li:hover{
    border: 1px solid black;
    border-radius: 15px;
    -webkit-animation: split-pop-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: split-pop-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.navbar ul li:hover a{
    color: rgb(22, 0, 148);
}

.navbar ul li a{
    display: block;
    padding: 5px;
    color: #000000;
    text-decoration: none;
}

/* End */

/* Style Landing page */

#landing-page{
    margin: 25px;
}

.content-head{
    display: block;
    margin-bottom: 30px;
    font-family: Roboto, arial,sans-serif;
    font-size: 20px;
}

.content-head h2{
    margin-top: 5px;
}

.img-content{
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End */

/* Style Our Headquarter */

#content{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.content-main{
    margin: 0px;
    display: flex;
    float: left;
    overflow: scroll;
}

.gallery{
    margin: 50px;
    display: flex;
}

.gallery img{
    border-radius: 100%;
    border: 10px solid transparent;
    width: 200px;
    height: 200px;
    float: left;
}

.gallery a{
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.gallery a h1{
    margin-top: 250px;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gallery:hover{
    border: 5px solid black;
    border-radius: 10%;
    -webkit-animation: shadow-pop-br 0.2s linear both;
	        animation: shadow-pop-br 0.2s linear both;
}

/* End */

/* Style Contact */

#contact{
    margin: 2%;
}

.message-us{
    display: flex;
    justify-content: space-between;
}

.form-input h1{
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.form{
    display: block;
	margin-bottom: 10px;
}

.form-pesan input, textarea{
    padding: 50px;
}

.result{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 50%;
}

.current-time{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
}

.current-time b{
    margin-right: 20px;
}

.current-time p{
    margin-right: 10px;
}

.result ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    list-style: none;
}

#list-data li{
    margin: 5px;
}

#list-data p{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
}


/* End */

/* Style footer */

#footer{
    margin: 2%;
    border: 2px solid black;
    padding: 15px;
}

.footer-main{
    font-size: 10px;
    text-align: right;
}

/* End */

/* keyframe untuk hover */

/* Media Querry Mobile */
@media screen and (max-width: 720px) {
    body{
        width: 280px;
    }

	#navbar {
		flex-direction: column;
	}

	.navbar ul {
		flex-direction: column;
        text-align: center;
	}

	.navbar li {
		margin: 10px 0;
	}

    #content {
        flex-direction: column;
		text-align: center;
	}

    .content-main{
        flex-direction: column;
        align-items: center;
    }
}

@-webkit-keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow: 0px 0px #3e3e3e, 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e;
            box-shadow: 0px 0px #3e3e3e, 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e;
        -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
    }
}
@keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    }
    100% {
        -webkit-box-shadow: 0px 0px #3e3e3e, 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e;
            box-shadow: 0px 0px #3e3e3e, 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e;
        -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
    }
}

@-webkit-keyframes split-pop-br{
    0%
    {
        -webkit-transform: translateY(0);
            transform: translateY(0);
    }
    100%
    {
        -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    }
}

@keyframes split-pop-br {
    0%
    {
        -webkit-transform: translateY(0);
            transform: translateY(0);
    }

    100%
    {
        -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    }
}
/* end */